<footer class="py-3 my-4 footer d-none d-lg-block">
  <div class="container">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item">
        <a
          href="{{ path('app_droits_patients') }}"
          class="nav-link px-2 text-body-secondary"
          >Droit des patients</a
        >
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-secondary"
          >Les spécialités</a
        >
      </li>
      <li class="nav-item">
        <a
          href="{{ path('app_tarifs') }}"
          class="nav-link px-2 text-body-secondary"
          >Tarif</a
        >
      </li>
      <li class="nav-item">
        <a
          href="{{ path('app_contact') }}"
          class="nav-link px-2 text-body-secondary"
          >Contact & plan d'accès</a
        >
      </li>
      <li class="nav-item">
        <a
          href="{{ path('app_mentions_legales') }}"
          class="nav-link px-2 text-body-secondary"
          >Mentions légales</a
        >
      </li>
    </ul>
    <p class="text-center text-body-secondary">
      © 2024 SoigneMoi CHU - Develop-Solution
    </p>
  </div>
</footer>
