{% extends 'base.html.twig' %} {% block title %}Interface administrateur{%
endblock %} {% block stylesheets %}
<link
  rel="stylesheet"
  href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css"
/>
{{ encore_entry_link_tags("app") }}
{% endblock %} {% block javascripts %}
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
{{ encore_entry_script_tags("app") }}

{% endblock %} {% block body %}
<div class="container">
  {% for message in app.flashes('success') %}
  <div class="alert alert-success mt-4">
    {{ message }}
  </div>
  {% endfor %}
  <h1>Interface d'administration du CHU SoigneMoi</h1>
  <div class="accordion mt-5" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          Médecins
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <div class="col">
            <a
              href="{{ path('app_medecin_new') }}"
              class="btn btn-primary text-center"
              >Création fiche médecin</a
            >
          </div>
          {% include 'admin/partials/_list_medecins.html.twig' %}
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="false"
          aria-controls="collapseOne"
        >
          Séjours en attentes de traitement
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          {% include 'admin/partials/_list_stay_wait.html.twig' with {'list':
          'list'} %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Trie des tableaux -->
<script>
  $(document).ready(function () {
    // Initialize DataTable
    $(".sortTable").DataTable({
      paging: true, // Enable pagination
      searching: true, // Enable search
      ordering: true, // Enable sorting
      info: false, // Show information
      lengthChange: false, // Disable the "Show X entries" dropdown
      paginate: {
        first: "First",
        last: "Last",
        next: "Next",
        previous: "Previous",
      },
    });
  });
</script>
{% endblock %}
