{% extends 'base.html.twig' %} {% block title %}FAQs - SoigneMoiCHU{% endblock
%} {% block body %}
<div class="container py-5">
  <h1 class="text-center mb-5">FAQs - Foire Aux Questions</h1>

  <!-- Groupe de questions 1 -->
  <div class="row">
    <div class="col-md-12 mb-4">
      <h2>Questions générales</h2>
      <div class="card">
        <div class="card-body">
          <ul class="list-unstyled">
            <li>
              <h3>Quels sont les horaires d'ouverture de l'hôpital ?</h3>
              <p>
                L'hôpital est ouvert 24h/24 et 7j/7 pour les urgences. Les
                horaires pour les consultations externes varient en fonction du
                service. Nous vous recommandons de consulter notre
                <a href="#">page des horaires</a> pour plus d'informations.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-12 mb-4">
      <div class="card">
        <div class="card-body">
          <ul class="list-unstyled">
            <li>
              <h3>Comment prendre rendez-vous pour une consultation ?</h3>
              <p>
                Pour prendre rendez-vous, veuillez appeler notre service de
                rendez-vous au numéro suivant : XXX-XXXX-XXXX. Vous pouvez
                également prendre rendez-vous en ligne en vous rendant sur notre
                <a href="/sejour_new">page de prise de rendez-vous en ligne</a>.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-12 mb-4">
      <div class="card">
        <div class="card-body">
          <ul class="list-unstyled">
            <li>
              <h3>
                Quelles sont les modalités de paiement acceptées à l'hôpital ?
              </h3>
              <p>
                Nous acceptons les paiements en espèces, par carte de
                crédit/débit, par chèque et par virement bancaire. Pour plus
                d'informations sur les modalités de paiement, veuillez consulter
                notre <a href="/tarifs">page des modalités de paiement</a>.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Groupe de questions 2 -->
  <div class="row">
    <div class="col-md-12 mb-4">
      <h2>Questions médicales</h2>
      <div class="card">
        <div class="card-body">
          <ul class="list-unstyled">
            <li>
              <h3>Quels sont les spécialistes disponibles à l'hôpital ?</h3>
              <p>
                Nous disposons d'une large gamme de spécialistes, y compris des
                cardiologues, des chirurgiens, des pédiatres, des dermatologues,
                des gynécologues, etc. Pour obtenir une liste complète des
                spécialistes disponibles, veuillez consulter notre
                <a href="/speciality">page des spécialistes</a>.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-12 mb-4">
      <div class="card">
        <div class="card-body">
          <ul class="list-unstyled">
            <li>
              <h3>Quels sont les services d'urgence disponibles ?</h3>
              <p>
                Notre hôpital dispose d'un service d'urgence complet pour
                traiter une variété de conditions médicales urgentes. Pour
                connaître les services spécifiques disponibles, veuillez
                consulter notre <a href="#">page des urgences</a>.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-12 mb-4">
      <div class="card">
        <div class="card-body">
          <ul class="list-unstyled">
            <li>
              <h3>
                Comment puis-je obtenir un rendez-vous avec un spécialiste ?
              </h3>
              <p>
                Pour obtenir un rendez-vous avec un spécialiste, veuillez
                consulter votre médecin généraliste pour une recommandation.
                Vous pouvez également prendre rendez-vous directement avec un
                spécialiste en appelant notre service de rendez-vous au numéro
                suivant : XXX-XXXX-XXXX.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
