{% extends 'base.html.twig' %} {% block title %}Mentions légales -
SoigneMoiCHU{% endblock %} {% block body %}
<div class="container">
  <h1>Mentions légales</h1>
  <p>
    <br /><br />Conformément aux dispositions des articles 6-III et 19 de la Loi
    pour la Confiance dans l’Economie Numérique, nous vous informons que le
    présent site est édité par :<br /><br />
  </p>
  <h3>SARL Develop-Solution - nom commercial Develop-Solution</h3>
  <p>SARL Develop-Solution est une filiale de Develop-Solution.holdings</p>
  <p>
    Immatriculée au Registre du Commerce de MONTPELLIER<br />Capital Social : 1
    000,00 €<br />Adresse: 44 rue Freche, 34000, Montpellier<br />N° SIRET RCS,
    12345678912345 – 34300 Montpellier
  </p>
  <p>
    Tel: 04 00 00 00 01<br />Email: hello@develop-solution.fr<br />L’hébergement
    du site Develop-Solution est assuré par:<br />.... #TODO .<br />Directeur de
    publication : Mm. Marion M.
  </p>
  <h3>Politique de confidentialité</h3>
  <p>
    En aucun cas, les données recueillies sur le site www.Develop-Solution.com
    ne seront cédées ou vendues à des tiers. .........................
  </p>
  <h3>Propriétés intellectuelles et marque déposée</h3>
  <p>...........................</p>
  <h3>Responsabilité en cas de problème</h3>
  <p>...........................</p>
</div>
{% endblock %}
