{% extends 'base.html.twig' %} {% block title %}Tarrifs - SoigneMoiCHU{%
endblock %} {% block body %}
<div class="container">
  <h1>Tarifs</h1>
  <p>
    Emensis itaque difficultatibus multis et nive obrutis callibus plurimis ubi
    prope Rauracum ventum est ad supercilia fluminis Rheni, resistente
    multitudine Alamanna pontem suspendere navium conpage Romani vi nimia
    vetabantur ritu grandinis undique convolantibus telis, et cum id inpossibile
    videretur, imperator cogitationibus magnis attonitus, quid capesseret
    ambigebat.
  </p>
  <p>
    Post hanc adclinis Libano monti Phoenice, regio plena gratiarum et
    venustatis, urbibus decorata magnis et pulchris; in quibus amoenitate
    celebritateque nominum Tyros excellit, Sidon et Berytus isdemque pares
    Emissa et Damascus saeculis condita priscis.
  </p>
  <p>
    Ideoque fertur neminem aliquando ob haec vel similia poenae addictum oblato
    de more elogio revocari iussisse, quod inexorabiles quoque principes
    factitarunt. et exitiale hoc vitium, quod in aliis non numquam intepescit,
    in illo aetatis progressu effervescebat, obstinatum eius propositum
    accendente adulatorum cohorte.
  </p>
  <p>
    Haec ubi latius fama vulgasset missaeque relationes adsiduae Gallum Caesarem
    permovissent, quoniam magister equitum longius ea tempestate distinebatur,
    iussus comes orientis Nebridius contractis undique militaribus copiis ad
    eximendam periculo civitatem amplam et oportunam studio properabat ingenti,
    quo cognito abscessere latrones nulla re amplius memorabili gesta,
    dispersique ut solent avia montium petiere celsorum.
  </p>
  <p>
    Restabat ut Caesar post haec properaret accitus et abstergendae causa
    suspicionis sororem suam, eius uxorem, Constantius ad se tandem desideratam
    venire multis fictisque blanditiis hortabatur. quae licet ambigeret metuens
    saepe cruentum, spe tamen quod eum lenire poterit ut germanum profecta, cum
    Bithyniam introisset, in statione quae Caenos Gallicanos appellatur,
    absumpta est vi febrium repentina. cuius post obitum maritus contemplans
    cecidisse fiduciam qua se fultum existimabat, anxia cogitatione, quid
    moliretur haerebat.
  </p>
</div>
{% endblock %}
