// Styles pour la barre de menu
.lavish {
  font-family: "Lavishly Yours", cursive;
}

.customSubMenuHolder:hover > .customSubMenu {
  display: block;
}

.customSubMenu {
  display: none;
  box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  left: 0;
  background: $primary;
}

a.nav-link {
  font-size: 1.1rem;
  color: white;
}
